
<!-- text selector start -->
<div *ngIf="this.corpusCreationService.currentCorpus" class="container border">
  <div *ngIf="this.corpusCreationService.currentCorpus.text_files" class="container border m-2">
    Choose text:
    <button *ngFor="let text_name of object_keys(this.corpusCreationService.currentCorpus.text_files)" type="button" class="btn btn-info text-white col-2 m-2" (click)="selectText(text_name)" name="selectTextFile">{{text_name}}</button>
  </div>
  
  <!-- text manager start -->
  <div *ngIf="this.corpusCreationService.currentCorpus && this.currentText" class="container mt-3" id="parent">
      <div class="container border">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#addSpeakerModal">
          Add a speaker
        </button>
        <button type="button" class="btn btn-info text-white mx-2" data-bs-toggle="modal" data-bs-target="#replaceSpeakerModal">
          Replace speaker
        </button>
        <h4>Speakers list:</h4>
        <button 
          *ngFor="let speaker of this.currentText.speakers; let index = index" 
          type="button" 
          class="btn btn-info m-2 text-white center"
          (click)="this.removeSpeaker(speaker)">
          <i class="bi bi-x-lg text-white"></i>
          {{speaker}}
        </button>
      </div>
      

      <div *ngFor="let replique of this.currentText.repliques; let index = index">
        <div class="container bg-secondary border mt-4">
          
          <div class="row">

            <div #choose_in_list class="dropdown col-2">
              <select class="form-select mt-1" aria-label="Default select Speaker" [(ngModel)]="replique.speaker">
                  <option *ngFor="let choice of this.currentText.speakers" >{{choice}}</option>
              </select>
            </div>
    
            <button type="button" title="Merge with block below" class="btn btn-info mx-2 text-white center col-1" (click)="merge(index, true)"> <i class="bi bi-arrow-bar-down"></i></button>
            <button type="button" title="Merge with block above" class="btn btn-info mx-2 text-white center col-1" (click)="merge(index, false)"> <i class="bi bi-arrow-bar-up"></i> </button>
            <button type="button" title="Add an empty block" class="btn btn-info mx-2 text-white center col-1" (click)="addReplique(index)"> <i class="bi bi-plus-square-fill"></i> </button>
            <div class="mx-2 col-5"></div>
            <button type="button" class="btn btn-danger mx-2 text-white center col-1" (click)="removeReplique(index)"> <i class="bi bi-trash3-fill"></i> </button>
          
          </div>
          
          <textarea
            class="mt-1"
            name="repliqueArea" 
            style="min-width: 100%"
            placeholder="..."
            [(ngModel)]="replique.text">
          </textarea>
        </div>
        
      </div>
      <div class="row">
        <button type="button" class="btn btn-info m-2 text-white center col-2" (click)="saveCurrentFile()"> Save current file</button>
        <div class="col-7"></div>
        <button type="button" class="btn btn-info m-2 text-white center col-2" (click)="downloadCurrentFile()"> Download current file</button>
      </div>
      
  </div>
  <!-- text manager end -->
  
  <!-- Modal -->
  <!-- add speaker -->
  <div *ngIf="this.currentText" class="modal fade" id="addSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="addSpeakerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSpeakerModalLabel">Add a speaker</h5>
          <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" id="corpus_name" #newSpeaker placeholder="speaker name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addToSpeaker(newSpeaker.value)">Add speaker</button>
        </div>
      </div>
    </div>
  </div>
  <!-- replace speaker -->
  <div *ngIf="this.currentText" class="modal fade" id="replaceSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="replaceSpeakerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="replaceSpeakerModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="dropdown col-3">
          
            <select #originSpeaker class="form-select mt-1" aria-label="Default select Speaker">
                <option *ngFor="let choice of this.currentText.speakers" >{{choice}}</option>
            </select>
          </div>
            <input type="text" class="form-control" id="corpus_name" #newSpeakerName placeholder="speaker name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="replaceSpeaker(originSpeaker.value, newSpeakerName.value)">Replace speaker</button>
        </div>
      </div>
    </div>
  </div>
  
  

  <!-- <button (click)="this.test()"> trigger test method</button> -->
</div>
<!-- text selector end -->