<div class="container" [ngStyle]="{'overflow': (this.needChoice) ? 'scroll': 'hidden',  'height': (this.needChoice) ? '400px': 'hidden'}">
    <div *ngFor="let corpus of this.list_corpus | appFilter:searchText" class="card my-5 border-secondary bg-light" (click)="this.callParent(corpus)">
        <div class="card-body">
            <div class="row">
                <h4 class="card-title col-6 text-secondary">{{corpus.name}}</h4>
            </div>
            <h5 class="card-subtitle mb-2 text-muted">Description: {{corpus.description}}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Id: {{corpus.ID}}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Create: {{corpus.created_on}}</h5>
            <a *ngIf="this.needRouter" routerLink="/corpus/{{corpus.ID}}" class="card-link stretched-link"></a>
        </div>
    </div>
</div>