<div class="container" id="visualisationGroup">
    <ul class="nav nav-tabs mb-3 text-secondary">
        <li class="nav-item">
          <a class="nav-link dropdown mx-2" id="btncollapseCreateCorpus" data-bs-toggle="collapse" data-bs-target="#collapseCreateCorpus" data-parent="#visualisationGroup" role="button" aria-expanded="true" aria-controls="collapseCreateCorpus"
          (click)="this.collapseVisualisation($event)" [class.disabled]="this.tabButtonDisable['btncollapseCreateCorpus']"  [class.active]="this.tabButtonDisable['btncollapseCreateCorpus']">
          Create corpus</a>
        </li>
        <li class="nav-item">
          <a id="btncollapseCorrectText" class="nav-link dropdown mx-2" data-bs-toggle="collapse" data-bs-target="#collapseCorrectText" data-parent="#visualisationGroup" role="button" aria-expanded="false" aria-controls="collapseCorrectText"
          (click)="this.collapseVisualisation($event)" [class.disabled]="this.tabButtonDisable['btncollapseCorrectText']" [class.active]="this.tabButtonDisable['btncollapseCorrectText']">
          Correct text</a>
        </li>
        <li class="nav-item">
          <a id="btncollapseAnalyse" class="nav-link dropdown mx-2" data-bs-toggle="collapse" data-bs-target="#collapseAnalyse" data-parent="#visualisationGroup" role="button" aria-expanded="false" aria-controls="collapseAnalyse"
          (click)="this.collapseVisualisation($event)" [class.disabled]="this.tabButtonDisable['btncollapseAnalyse']" [class.active]="this.tabButtonDisable['btncollapseAnalyse']">
          Analyse</a>
        </li>
    </ul>

    <div class="collapse show" id="collapseCreateCorpus">
        <app-corpus-creation>
        </app-corpus-creation>
    </div>

    <div class="collapse row col-12" id="collapseCorrectText">
      <app-text-manager>
      </app-text-manager>
    </div>

    <div class="collapse row col-12 mx-auto" id="collapseAnalyse">
        <p>Analyse</p>
    </div>

</div> 