<div *ngIf="this.corpusCreationService.currentCorpus" class="container" id="parent">
  
    <div>
        <label class="card-title col-12" for="corpus_name">Enter the corpus name:</label>
        <input type="text" class="form-control" id="corpus_name" placeholder="New-corpus"
                [(ngModel)]="this.corpusCreationService.currentCorpus.name" (change)="this.corpusCreationService.update({'name': this.corpusCreationService.currentCorpus.name})">
    </div>

    <div>
      <label class="card-title col-12" for="corpus_description">Enter the corpus description:</label>
      
      <textarea 
        name="descriptionArea" 
        style="min-width: 100%" 
        placeholder="this corpus deal with..."
        [(ngModel)]="this.corpusCreationService.currentCorpus.description" 
        (change)="this.corpusCreationService.update({'description': this.corpusCreationService.currentCorpus.description})">
      </textarea>
    </div>
  

    <app-upload-multiple-files>
    </app-upload-multiple-files>

    <div class="card">
        <div class="card-header">List of files to transcribe</div>
        <div *ngIf="this.corpusCreationService.currentCorpus.media_files != undefined">
          <ul
          class="list-group list-group-flush"
          *ngFor="let file of this.corpusCreationService.currentCorpus.media_files | keyvalue">
          <li class="list-group-item">
            <a >{{ file.key }}</a>
            <!-- href="{{ file.value }}" -->
          </li>
        </ul>
        </div>
      </div>
    
    <label class="card-title col-12">Choose an Host:</label>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="this.corpusCreationService.currentHost">
        <option *ngFor="let host of this.corpusCreationService.hosts" >{{host}}</option>
    </select>

    <button 
    *ngIf="this.corpusCreationService.currentCorpus.media_files != undefined"
    class="btn btn-success mt-2" 
    [disabled]="objectKeys(this.corpusCreationService.currentCorpus.media_files).length  <= 0" 
    (click)="this.corpusCreationService.transcribeFiles()">
        Transcribe
    </button>

</div>


<!-- <button id="btn_create_corpus" type="button" class="btn btn-primary mb-5" (click)="this.createCorpus()">Create corpus</button> -->
