<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-2 text-white bg-primary col-2 position-fixed">
  <div class="position-relative w-100 h-100">
    <a routerLink="/home" class="d-flex align-items-center text-decoration-none gap-3">
      <!-- <img src="../assets/microscope.png" alt="Microscope logo" style="max-width: 50px; max-height: 50px;"> -->
      <span class="fs-4 text-secondary">{{title}}</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column fs-5">
      <li class="nav-item mt-2">
        <a routerLink="/home" class="nav-link" [ngClass]="path == '/home' ? 'active' : 'text-secondary'" [attr.aria-current]="path == '/home' ? 'page' : null">
          <i class="bi bi-house-door me-2" width="16" height="16"></i>
          Home
        </a>
      </li>
      <!-- <li class="nav-item mt-2">
        <a routerLink="/corpus-creation" class="nav-link" [ngClass]="path == '/corpus-creation' ? 'active' : 'text-secondary'" [attr.aria-current]="path == '/corpus-creation' ? 'page' : null">
          <i class="bi bi-binoculars me-2" width="16" height="16"></i>
          New corpus
        </a>
      </li> -->
      <li class="nav-item mt-2" (click)="this.redirectToNewCorpus()">
        <a routerLink="" class="nav-link pe-auto" [ngClass]="path == '/corpus' ? 'active' : 'text-secondary'" [attr.aria-current]="path == '/corpus' ? 'page' : null">
          <i class="bi bi-binoculars me-2" width="16" height="16"></i>
          New corpus
        </a>
      </li>
    </ul>
    <!-- <div style="position: absolute; bottom: 2%; width: 100%;">
      <hr>
      <ul class="nav nav-pills flex-column fs-5">
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" [ngClass]="path == '/about' ? 'active' : 'text-secondary'" [attr.aria-current]="path == '/about' ? 'page' : null">
            <i class="bi bi-info-circle me-2" width="16" height="16"></i>
            About
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</div>
<div class="col-10 float-end">
  <router-outlet></router-outlet>
</div>